.centered {
    text-align: center;
}
.main {
    display: grid;
    width: 100%;
    grid-template-columns: 40% 40%;
    align-content: center;
    justify-content: center;
}
.right_grid {
    grid-row-start: 1;
    grid-column-start: 2;
}
.left-grid {
    grid-row-start: 1;
    grid-column-end: 2;
}
.center-grid {
    grid-column: 1/-1;
}